* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h3 .ana {
    color: #ff0000;
}

h3 .dha {
    color: #ff0000;
}

h3 {
    display: inline-block;
    background-color: #2a607c;
    color: white;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbarNav {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

#navbarNav a {
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#navbarNav a:hover {
    background-color: #000;
}

@media screen and (max-width: 500px) {
    #navbarNav a {
      float: none;
      display: block;
    }
  }

.container .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.container .fa:hover {
    opacity: 0.7;
}

.active {
    background-color: #4CAF50;
}

.container {
    background-color: whitesmoke;
    margin-left: 80px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    color: white;
    max-width: 500px;
}

p {
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    margin-left: 10px;
    margin-right: 30px;
    color: black;
}


.image {
    width:380px;
    height: 450px;
    margin-left: 600px;
    margin-top: 20px;
    border-radius: 50%;
}

.content {
    position: absolute;
    top: 40%;
    margin-left: 300px;
    transform: translate(-50%, -50%);
    color: red;
}

/* .about {
    background-color: antiquewhite;
}

.about-me {
    float:left;
    width:300px; 
    height:300px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 5px;
}

.mr-3 {
    width:200px;
    height: 200px;
    margin: 50px;
}

.portfolio {
    text-align: center;
    background-color: turquoise;
}

.container {
    margin-top:50px;
    margin-left: 20px;
    margin-bottom: 500px;
    margin-right: 500px;
} */