* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 .ana {
    color: #ff0000;
}

h1 .dha {
    color: #ff0000;
}

h1 {
    display: inline-block;
    background-color: #2a607c;
    color: white;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbarNav {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

#navbarNav a {
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#navbarNav a:hover {
    background-color: #000;
}

@media screen and (max-width: 500px) {
    #navbarNav a {
      float: none;
      display: block;
    }
  }

.container .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.container .fa:hover {
    opacity: 0.7;
}

.active {
    background-color: #4CAF50;
}

.container {
    background-color: whitesmoke;
    margin-left: 80px;
    margin-top: 20px;
    position: relative;
    max-width: 500px;
}

.container h4 {
    margin-left: 30px;
    color: teal;
}

#aboutImage {
    margin-top: 10px;
    margin-left: 30px;
    width:300px;
    height:350px;
}

.col-md-6 h3 {
    margin-top: 10px;
    background-color: sienna;
    color:white;
    text-align: center;
}

p {
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    color: black;
    text-align: justify;
}

.col-md-10 p {
    margin-left: 40px;
}


.image {
    width:380px;
    height: 500px;
    margin-left: 600px;
    margin-top: 20px;
    border-radius: 50%;
}

.content {
    position: absolute;
    top: 40%;
    margin-left: 300px;
    transform: translate(-50%, -50%);
    color: red;
}

#media {
    margin: 300px;
    margin-top:20px;
}

.card-img {
    width: 250px;
    height: 250px;
}

.card-img-overlay h2 {
    position: absolute;
    bottom: 0px; right: 0px;
    left: 0px;
    background-color:teal;
    color: white;
    padding-left: 30px;
    padding-right: 10px;
}

.row {
    margin: 30px;
}

.col-md-3 {
    margin-left: 30px;
    margin-bottom: 20px;
}

.form-group {
    margin-left: 30px;
}

.btn-primary {
    margin-left: 30px;
    background-color: teal;
    margin-bottom: 20px;
}

table {
    width: 900px;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

div .work-history {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: justify;

}
.work-history h5 {
    padding: 5px;
    background-color: sienna;
    color: white;
    font-weight: bold;
}