* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 .ana {
  color: #ff0000;
}

h1 .dha {
  color: #ff0000;
}

h1 {
  display: inline-block;
  background-color: #2a607c;
  color: white;
  padding: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#navbarNav {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

#navbarNav a {
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#navbarNav a:hover {
  background-color: #000;
}

@media screen and (max-width: 500px) {
  #navbarNav a {
    float: none;
    display: block;
  }
}

.container .fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.container .fa:hover {
  opacity: 0.7;
}

.active {
  background-color: #4caf50;
}

.container {
  background-color: whitesmoke;
  text-align: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 40px;
  margin-bottom: 30px;
}

.container h4 {
  margin-left: 30px;
  color: teal;
}

.my-08-line {
  margin-top: 1.1rem;
  margin-bottom: 1rem;
  width: 100%;
  margin: 2rem 0 1rem 0;
  background-color: black;
  height: 0.2rem;
}

#aboutImage {
  margin-top: 10px;
  margin-left: 30px;
  width: 300px;
  height: 350px;
}

.col-md-6 h3 {
  margin-top: 10px;
  background-color: sienna;
  color: white;
  text-align: center;
}

p {
  font-size: 16px;
  font-family: "Noto Serif", serif;
  color: black;
  text-align: justify;
}

.col-md-10 p {
  margin-left: 40px;
}

.image {
  width: 380px;
  height: 400px;
  margin-left: 600px;
  margin-top: 20px;
  border-radius: 50%;
}

#media {
  margin-bottom: 10px;
  display: inline-block;
}

.card-img {
  width: 250px;
  height: 250px;
}

.row {
  margin: 30px;
}

.col-md-3 {
  margin-left: 30px;
  margin-bottom: 20px;
}

.form-group {
  margin-left: 30px;
}

.btn-submit {
  margin-left: 30px;
  background-color: teal;
  margin-bottom: 20px;
}

table {
  width: 900px;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}

div .work-history {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: justify;
}
.work-history h5 {
  padding: 5px;
  background-color: sienna;
  color: white;
  font-weight: bold;
}

/* Landing Page
Background  
*************************** */
.background-img {
  position: relative;
  background-image: url("https://ak5.picdn.net/shutterstock/videos/1090405/thumb/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.background-img:before {
  position: absolute;
  content: "";
  background: #2a2a2e;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 0;
}

main .container {
  background: unset;
}

.large {
  position: relative;
}

.large-inner {
  padding-top: 2em;
}

.large-inner_heading {
  margin-bottom: 1rem;
}

.name {
  margin-bottom: 1.25rem;
  color: #ff274e;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 40px;
  background-color: transparent;
}

.description {
  font-size: 30px;
  font-weight: 700;
}

.line {
  width: 100%;
  margin: 2rem 0 1rem 0;
  background-color: white;
  height: 0.2rem;
}

.profile-connect {
  cursor: pointer;
}

/* Info Connect 
*************************** */
.info-heading {
  line-height: 30px;
  margin: 0 auto;
  max-width: 500px;
  font-size: 18px;
  font-weight: 500;
}

.info-connect {
  padding: 2rem;
}

.info-connect_heading {
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 1rem;
}

.info-connect_heading > li {
  margin-top: 0.5rem;
}

.info-connect_social {
  margin-top: 1rem;
}

.linkedin,
.github,
.phone,
.mail,
.resume {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.linkedin,
.phone,
.mail,
.github,
.resume {
  color: #505357;
  margin-left: 1rem;
  font-size: 24px;
}

.linkedin:hover,
.phone:hover,
.mail:hover,
.github:hover,
.resume:hover {
  color: #92b8d1;
}

.fa-file,
.fa-github,
.fa-linkedin,
.fa-envelope,
.fa-phone-square-alt {
  line-height: 36px;
  font-weight: 400;
}

.info-phone,
.info-email {
  display: inline-block;
  min-width: 60px;
}

.btn-resume {
  margin-top: 2rem;
  margin-bottom: 0;
  width: 50%;
  opacity: 0.8;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2.8;
  padding: 0 1rem;
  outline: none;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
  color: #212121;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-resume:hover {
  opacity: 1;
}

/* Contact Form Elements 
*************************** */
.contact {
  padding-top: 4em;
  padding-bottom: 4em;
}

form > fieldset > ul {
  list-style-type: none;
  text-align: left;
}

fieldset {
  border: none;
  margin: 0 auto;
  max-width: 45em;
}

form {
  margin: 0 15px 0 15px;
  display: inline-block;
}

textarea {
  height: 10em;
}

.contact__container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.contact__icon {
  padding: 15px;
  background: #ff274e;
  color: white;
  width: 4em;
  text-align: center;
  border-radius: 5px;
}

.contact__input {
  width: 600px;
  padding: 10px;
  outline: none;
}

.contact__input:focus {
  border: 2px solid #ff274e;
  background: white;
}

input[type="text"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  outline: 0;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border-radius: 5px;
}

input::placeholder,
textarea::placeholder {
  text-align: left;
  font-style: italic;
}

.btn-submit {
    width: 50%;
    border-radius: 5px;  
    text-transform: uppercase;
}